{% extends "index.html" %}
{% block scripts %} {% endblock %}
{% block forms %}   {% endblock %}
{% block maincontent %}
<div class="content_item" style="text-align:center;height: 600px;">
  <div id="slide-container" style="align: center">
  <iframe src="LINK_TO_MY_DEMO_VIDEO" width="940" height="600" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong></div>
  </div>
  </div>
{% endblock %}
