<!DOCTYPE html>
<html>

<head>
  <title>TaxiOptimizer</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ APIkey }}" type="text/javascript"></script>
  {% block scripts %}
  <script type="text/javascript" src="static/initmap.js"></script>
  {% endblock %}
</head>

<body>

<div id="main">
  <header style="width: 940px">
    <div id="strapline">
      <div id="welcome_slogan" style="padding-top: 0px;">
      <nav>
          <div id="menubar" style="padding-top: 0px;margin-left: 0px;">
            <ul id="nav" style="width: 900px">
              <li class="current"><a href="/" style="margin-left: 10px;">TaxiOptimizer</a></li>
              <li><a href="https://docs.google.com/presentation/d/1V-o_qdBsNrF3CqcZ8IEAIutShCZSpA50DUarSyjMSt0/edit?usp=sharing" target="_blank">Slideshare</a></li>
              <li><a href="/demo">Video</a></li>
            </ul>
          </div><!--close menubar-->
        </nav>
      </div><!--close welcome_slogan-->
    </div><!--close strapline-->
  </header>

{% block forms %}
  <form action='track' method='get' align='center'>
      Enter taxi ID to track:<br>
      <input id="field1" type="text" name="vehicle_id" value="" placeholder="leave blank for random" ><br>
      <input type="submit" onclick="window.location.href='/track'" value="Add taxi to map!">
  </form>
{% endblock %}

  <div id="site_content">
    {% block maincontent %}
    <div id="map-container" style="padding-top: 0px;">
        <div id="map-canvas"></div>
    </div>
    {% endblock %}
    <div id="content">
        <div class="content_item">
         <footer style="padding-top: 30px;">
          <span style="float: left; color:#FFF">
            &nbsp&nbsp&nbsp&nbsp <a>Andrey Bozhko</a>
          </span>
          <span style="float: right; color:#FFF">
            <a href="mailto:andybozhko@gmail.com">Email</a>     |
            <a href="https://github.com/AndreyBozhko/TaxiOptimizer">Github</a>     |
            <a href="https://www.linkedin.com/in/andrey-bozhko">Linkedin</a>&nbsp&nbsp&nbsp&nbsp
          </span>
        </footer>
        </div>
      </div><!--close content-->
    <div id="content">
            </div><!--close content-->
  </div><!--close site_content-->


</div><!--close main-->
</body>
</html>
