<!DOCTYPE html>
<html>

<head>
  <title>TaxiOptimizer</title>
  <link rel="stylesheet" type="text/css" href="static/style.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ APIkey }}" type="text/javascript"></script>
  {% block scripts %}
  <script type="text/javascript" src="static/initmap.js"></script>
  {% endblock %}
</head>

<body>
<div id="main">

<header style="width: 1280px; padding-top: 15px; padding-bottom: 15px;">
    <div style="float: left; font-size: 32px;">  <a href="/">TaxiOptimizer</a> </div>
    <div style="float: right;">
      <form action='track' method='get' align='center'>
        <br> Time: <input id="timestr" type="text" value="" placeholder="nothing to display yet"> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	Enter taxi ID to track:
        <input id="field1" type="text" name="vehicle_id" value="" placeholder="leave blank for random" >
        <input type="submit" onclick="window.location.href='/track'" value="Add taxi to map!">
      </form>
    </div>
</header>


  <div id="site_content">
    <div id="map-container" style="padding-top: 0px;">
      <div id="map-canvas"></div>
    </div>
    <div id="content">
      <div class="content_item">
        <footer style="padding-top: 30px;">
          <span style="float: left; color:#FFF">
            &nbsp&nbsp&nbsp&nbsp <a href="mailto:andybozhko@gmail.com">Andrey Bozhko</a>
          </span>
          <span style="float: center">
            <a href="https://docs.google.com/presentation/d/1V-o_qdBsNrF3CqcZ8IEAIutShCZSpA50DUarSyjMSt0/edit?usp=sharing" target="_blank">Slideshare</a>       |
            <a href="https://youtu.be/SUgCPqrCQWE" target="_blank">Video</a>
          </span>
          <span style="float: right; color:#000">
            <a href="https://github.com/AndreyBozhko/TaxiOptimizer">Github</a>     |
            <a href="https://www.linkedin.com/in/andrey-bozhko">LinkedIn</a>	&nbsp&nbsp&nbsp&nbsp
          </span>
        </footer>
      </div>
    </div>
  </div>


</div>
</body>
</html>
